
.vscode/launch.json

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Assets/VSCode/*

Library/*

obj/*

Temp/*

WebuSocket.sln

Assembly-CSharp-firstpass.csproj

Assets/Plugins/UniRx/*

Assets/Plugins/UniRx.meta


ProjectSettings/ProjectVersion.txt

*.meta

SampleProject/.vscode/*

SampleProject/Assets/VSCode/*

SampleProject/Library/*

SampleProject/obj/*

SampleProject/SampleProject.sln
SampleProject/Temp/*
nginx-luajit-ws/logs/error.log
nginx-luajit-ws/logs/host.access.log
nginx-luajit-ws/logs/nginx.pid
