
.vscode/launch.json

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Assets/VSCode/*

Library/*

obj/*

Temp/*

WebuSocket.sln

Assembly-CSharp-firstpass.csproj

Assets/Plugins/UniRx/*

Assets/Plugins/UniRx.meta


ProjectSettings/ProjectVersion.txt

*.meta

SampleProject/.vscode/*

SampleProject/Assets/VSCode/*

SampleProject/Library/*

SampleProject/obj/*

SampleProject/ProjectSettings/*

SampleProject/SampleProject.sln
SampleProject/Temp/*
